.openerp .oe_vm_switch_account_move_line_search_usability:after {
    padding: 2px;
    content: "i";
}

.openerp .oe_form_char_section {
  position: relative;
  display: inline-block;
}

.openerp .oe_form_field_date {
  position: relative;
  display: inline-block;
}
